body {
    font-family: Arial, sans-serif;
    font-size: 8pt;
    background-color: #f0f0f0;
}
.chat-container {
    height: 90%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.messages {
    height: 95%;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 5px;
}

#nickname
{
    margin: -2px;
    width: 15%;
}

#message
{
    margin: -2px;
    width: 69%;
}

button
{
    margin: -2px;
    width: 15%;
}

.message 
{
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.message:last-child 
{
    border-bottom: none;
}